.czi-editor-frameset .molcit-context-menu {
  font-family: calibri, serif;
  font-size: 16px;
  background: white;
  border: 1px solid #a9a5a5;
  border-radius: 1px;
  box-shadow: 0 5px 5px #c3c3c3;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 220px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.czi-editor-frameset .molcit-context-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: auto;
}

.czi-editor-frameset .molcit-context-menu li {
  position: relative;
  padding-left: 14px;
  padding-right: 30px;
  cursor: default;
  font-size: 14px;
  max-width: 215px;
  overflow-wrap: break-word;
  height: 21px;
}

.czi-editor-frameset .molcit-context-menu li:hover {
  background: #c3c3c3;
}

.czi-editor-frameset .molcit-context-menu li span.arrow {
  position: absolute;
  font-size: 0.8em;
  right: 10px;
  top: 2px;
}

.czi-editor-frameset .molcit-context-menu hr {
  width: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  border-top: 1px solid rgba(0 0 0 10%);
}

.czi-editor-frameset .molcit-context-menu li div.context-menu {
  position: absolute;
  left: 100%;
  top: -10px;
}

.czi-editor-frameset .molcit-delete_btn {
  width: 20px;
  height: 20px;
  display: none;
  content: url('../assets/delete-sign.png');
}

.czi-editor-frameset .molcit-context-menu li:hover img {
  width: 20px;
  height: 21px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
  cursor: pointer;
  background: #c3c3c3;
}

.czi-editor-frameset .molcit-custom-capco li:hover img {
  width: 20px;
  height: 21px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
  cursor: pointer;
  background: #c3c3c3;
}

/* [FS] IRAD-1368 2021-06-10
   Show ellipsis at the end for lengthy text */
.czi-editor-frameset .molcit-context-menu-item-name {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.czi-editor-frameset .molcit-selected-mode-show {
  position: absolute;
  font-size: 1em;
  left: 10px;
  margin-left: -9px;
  visibility: visible;
}

.czi-editor-frameset .molcit-selected-mode-hide {
  visibility: hidden;
}

.czi-editor-frameset .molcit-dot-capco {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.czi-editor-frameset .molcit-marker-value {
  width: 23%;
  float: left;
}

.czi-editor-frameset .molcit-ulmarker {
  margin-bottom: 0;
  padding-left: 10px;
}

.ProseMirror .lint-icon {
  display: inline-block;
  position: absolute;
  left: 9mm;
  cursor: pointer;
  width: 1.5em;
  height: 1.1em;
  padding-left: 0.5px;
  line-height: 1em;
}

.ProseMirror .lint-iconinner {
  position: absolute;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid grey;
  text-align: center;
  color: black;
  font-family: times, georgia, serif;
  font-size: 15px;
  font-weight: bold;
  width: 1.1em;
  height: 1em;
}

.ProseMirror .lint-iconinner::before {
  content: '+';
}
