.czi-editor-frameset .molcit-czi-pop-up-modal-mask,
.czi-editor-frameset .molcit-czi-pop-up-element {
  background-color: rgba(0 0 0 50%);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.czi-editor-frameset .molcit-czi-pop-up-element {
  background-color: transparent;
  height: auto;
  width: auto;
}

.czi-editor-frameset .molcit-czi-pop-up-element a:link,
.czi-editor-frameset .molcit-czi-pop-up-element a:visited,
.czi-editor-frameset .molcit-czi-pop-up-element a:hover,
.czi-editor-frameset .molcit-czi-pop-up-element a:active {
  color: rgb(0 0 238);
}

.czi-editor-frameset .molcit-capco-pop-up-element {
  background-color: white;
  width: 760px;
}

.czi-editor-frameset .molcit-capco-modal-content {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2px;
  font-size: 11px;
  max-width: 950px;
  min-width: 390px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0 0 0 20%);
  border-radius: 0.3rem;
  outline: 0;
}
